.wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: auto;
  overscroll-behavior: none;
}
.maincontent {
  text-align: left;
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
}

.vertical-spacer {
  margin: 1rem 0rem;
}

.content-card {
  background-color: #fff;
  align-self: center;
  max-width: 50rem;
  width: 85%;
}

.tab-card {
  align-self: center;
  background-color: #fff;
  width: 50%;
  max-width: 30rem;
}

.folder-tab {
  background-color: #fff;
  text-transform: none;
}