
.liclass {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: default;
    border-radius: 1rem;
    margin: 0;
    height: auto;
}

.lileft {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.liright {
    display: flex;
    flex-direction: row;
    justify-content: right;
}