.list {
    display: flex;
    flex-direction: column;
    align-self: center;
    z-index: 100;
    background-color: white;
    max-width: 40rem;
}

.completedActions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}