.list {
    display: flex;
    flex-direction: column;
    align-self: center;
    z-index: 100;
    background-color: white;
    /* background-color: rgb(0, 128, 255); */
    max-width: 40rem;
    width: 85%;
}

.completedActions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}