
.card {
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    /* box-shadow: 0rem 0rem 1rem 0.1rem rgba(96, 96, 96, 0.269); */
    box-shadow: 0rem 0rem 1px 1px rgba(0, 0, 0, 0.293);
}