.tabContainer {
    width: 90%;
    height: 30rem;
    display: flex;
    background-color: #fff;
    max-width: 50rem;
    align-self: center;
}

.activeNote {
    background-color: rgb(206, 227, 246);
}